<%= render "shared/menu" %>
<div class="col-sm p-3 min-vh-100">
  <%= render 'shared/notices' %>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Books</h1>
        <% if current_user.librarian? %>
          <div class="btn-toolbar mb-2 mb-md-0 mx-2">
            <%= link_to new_book_path, class: "btn btn-sm btn-outline-secondary" do %>
              <i class="bi bi-person-plus"></i> New Book
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-2 mb-2">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 border-bottom">
            <h5 class="card-title">Yearly</h5>
          </div>
          <div class="row mt-1">
            <div class="col-sm-12 col-md-2">
              <div class="card border-secondary ">
                <div class="card-header">Total Books</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= Book.total_books %></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="card border-secondary ">
                <div class="card-header">Unique Books</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= Book.count %></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="card border-secondary ">
                <div class="card-header">Borroweds</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= Borrowed.total_borroweds %></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="card border-secondary ">
                <div class="card-header">Books Overdue</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= Borrowed.total_lates %></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="card border-secondary ">
                <div class="card-header">Users Overdue</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= User.with_overdue_books.count %></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-2">
              <div class="card border-secondary ">
                <div class="card-header">Never borrowed</div>
                <div class="card-body text-secondary">
                  <h5 class="card-title"><%= Book.count - Book.never_borrowed.count %></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "table", books: @books%>
</div>
