<%= render "shared/menu" %>
<div class="col-sm p-3 min-vh-100">
  <%= render 'shared/notices' %>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
        <h1 class="h2">
          <%= @book.title %>
          <%= render 'books/availability_badge', book: @book %>
        </h1>
        <div class="btn-toolbar mb-2 mb-md-0 mx-2">
          <div class="btn-group me-2">
            <% if @book.available? %>
              <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#borrowModal">
                Borrow
              </button>
            <% end %>
            <% if current_user.librarian? %>
              <%= link_to book_path(@book), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" do %>
                <i class="bi bi-trash"></i> Delete
              <% end %>
              <%= link_to edit_book_path(@book), class: "btn btn-sm btn-outline-primary" do %>
                <i class="bi bi-pencil-square"></i> Edit
              <% end %>
            <% end%>
            <%= link_to books_path, class: "btn btn-sm btn-outline-secondary" do %>
              <i class="bi bi-arrow-return-left"></i> Back to Books
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "form", book: @book, readonly: true %>

  <div class="row">
    <div class="col-12">
    <div class="card">
      <div class="card-body">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
            <h5>Details</h5>
            <div class="btn-toolbar mb-2 mb-md-0 mx-2">
              <div class="btn-group me-2">
                <% if current_user.librarian? %>
                  <%= link_to new_book_detail_path(@book), class: "btn btn-sm btn-outline-primary" do %>
                    New
                  <% end %>
                <% end%>
              </div>
            </div>
          </div>
          <%= render "book/details/table", details: @book.details %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
    <div class="card">
      <div class="card-body">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
            <h5>Active Borrows</h5>
          </div>
          <%= render "borroweds/users_table", borroweds: @book.borroweds.not_returned %>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render 'books/borrow_modal' %>